# Group Assignment : Estimation Problem

Team up in pairs, and build the best estimation model for a dataset of your choice, see [datasets](http://nbviewer.jupyter.org/github/ga-students/DS_HK_8/blob/gh-pages/notebooks/AA%20-%20Datasets.ipynb) for a list of resources.

### Deliverables

A 10 minute presentation in class for your peers showcasing;
* Exploratory Data Analysis
* Motivation for feature selection
* Checking whether the preconditions for linear regression have been met
* Evaluation of model's strengths and weaknesses

Audiences can be assumed to understand all your technical points, so don't be afraid to dive into the code to showcase your solutions! iPython notebook comes with a slideshow mode, consider [using it](http://www.damian.oquanta.info/posts/make-your-slides-with-ipython.html)

### Useful Book

Login // Password for the book 

        media // guidance

Any dataset from [Regression Analysis by Example](http://www.stat.nus.edu.sg/~zhangjt/teaching/textbook/datasets.htm)

### Teams

In [1]:
import pandas as pd
import itertools

Vendor:  Continuum Analytics, Inc.
Package: mkl
Message: trial mode expires in 30 days
/home/io/.tools/anaconda/envs/ds/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [3]:
teams = pd.DataFrame({
    'PLAYER 1' : ['AJ','Lora','Sunny','Morgan','Ashish','John'],
    'PLAYER 2' : ['Ritz','Jacky','Victor','Nicole','Kelly','Nikki'],
    'DATASET' : ['Student Alcohol Consumption','T.B.C.','T.B.A.','T.B.T.','T.B.P.','T.B.N.']})
                 
teams

                       DATASET PLAYER 1 PLAYER 2
0  Student Alcohol Consumption       AJ     Ritz
1                       T.B.C.     Lora    Jacky
2                       T.B.A.    Sunny   Victor
3                       T.B.T.   Morgan   Nicole
4                       T.B.P.   Ashish    Kelly
5                       T.B.N.     John    Nikki

## Prize : To Be Oracled