# Dropping Features

In [1]:
import pandas as pd

In [2]:
feat = "A B C D".split()
drop_feat = ['A','D']

In [3]:
feat

['A', 'B', 'C', 'D']

In [4]:
drop_feat

['A', 'D']

In [5]:
[range(4),range(4),range(4),range(4)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [6]:
df = pd.DataFrame([range(4),range(4),range(4),range(4)], columns=feat)

In [7]:
df

   A  B  C  D
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  2  3

In [30]:
cols = ['B','C','D']
df[cols]

   B  C  D
0  1  2  3
1  1  2  3
2  1  2  3
3  1  9  3

In [32]:
df[[2,3]]

   C  D
0  2  3
1  2  3
2  2  3
3  9  3

In [39]:
df.ix[:2,["B"]]

   B
0  1
1  1
2  1

In [44]:
df.ix[[2,1,2,2,2,2]]

   A  B  C  D
2  0  1  2  3
1  0  1  2  3
2  0  1  2  3
2  0  1  2  3
2  0  1  2  3
2  0  1  2  3

## Advanced

In [46]:
df

   A  B  C  D
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  9  3

In [47]:
dfx = df.copy()

In [49]:
dfx.columns = ['A D B C'.split()]
dfx

   A  D  B  C
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  9  3

In [59]:
cols = ['B','D']
dfx.ix[:,cols]

   B  D
0  2  1
1  2  1
2  2  1
3  9  1

In [60]:
dfx[cols]

   B  D
0  2  1
1  2  1
2  2  1
3  9  1

In [68]:
dfx.index = range(1,5)

In [75]:
dfx.index.astype(bool)

Index([True, True, True, True], dtype='object')

In [76]:
(dfx.index % 2).astype(bool)

Index([True, False, True, False], dtype='object')

In [80]:
dfx[list((dfx.index % 2).astype(bool))]

   A  D  B  C
1  0  1  2  3
3  0  1  2  3

In [81]:
dfx['age'] = range(38,42)

In [85]:
pd.read_clipboard()

     Ozone  Solar.R  Wind  Temp  Month  Day
1     41.0    190.0   7.4    67      5    1
2     36.0    118.0   8.0    72      5    2
3     12.0    149.0  12.6    74      5    3
4     18.0    313.0  11.5    62      5    4
5      NaN      NaN  14.3    56      5    5
6     28.0      NaN  14.9    66      5    6
7     23.0    299.0   8.6    65      5    7
8     19.0     99.0  13.8    59      5    8
9      8.0     19.0  20.1    61      5    9
10     NaN    194.0   8.6    69      5   10
11     7.0      NaN   6.9    74      5   11
12    16.0    256.0   9.7    69      5   12
13    11.0    290.0   9.2    66      5   13
14    14.0    274.0  10.9    68      5   14
15    18.0     65.0  13.2    58      5   15
16    14.0    334.0  11.5    64      5   16
17    34.0    307.0  12.0    66      5   17
18     6.0     78.0  18.4    57      5   18
19    30.0    322.0  11.5    68      5   19
20    11.0     44.0   9.7    62      5   20
21     1.0      8.0   9.7    59      5   21
22    11.0    320.0  16.6    73      5   22
23     4.0     25.0   9.7    61      5   23
24    32.0     92.0  12.0    61      5   24
25     NaN     66.0  16.6    57      5   25
26     NaN    266.0  14.9    58      5   26
27     NaN      NaN   8.0    57      5   27
28    23.0     13.0  12.0    67      5   28
29    45.0    252.0  14.9    81      5   29
30   115.0    223.0   5.7    79      5   30
..     ...      ...   ...   ...    ...  ...
124   96.0    167.0   6.9    91      9    1
125   78.0    197.0   5.1    92      9    2
126   73.0    183.0   2.8    93      9    3
127   91.0    189.0   4.6    93      9    4
128   47.0     95.0   7.4    87      9    5
129   32.0     92.0  15.5    84      9    6
130   20.0    252.0  10.9    80      9    7
131   23.0    220.0  10.3    78      9    8
132   21.0    230.0  10.9    75      9    9
133   24.0    259.0   9.7    73      9   10
134   44.0    236.0  14.9    81      9   11
135   21.0    259.0  15.5    76      9   12
136   28.0    238.0   6.3    77      9   13
137    9.0     24.0  10.9    71      9   14
138   13.0    112.0  11.5    71      9   15
139   46.0    237.0   6.9    78      9   16
140   18.0    224.0  13.8    67      9   17
141   13.0     27.0  10.3    76      9   18
142   24.0    238.0  10.3    68      9   19
143   16.0    201.0   8.0    82      9   20
144   13.0    238.0  12.6    64      9   21
145   23.0     14.0   9.2    71      9   22
146   36.0    139.0  10.3    81      9   23
147    7.0     49.0  10.3    69      9   24
148   14.0     20.0  16.6    63      9   25
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30

[153 rows x 6 columns]

In [84]:
dfx[dfx.age > 40]

   A  D  B  C  age
4  0  1  9  3   41

In [ ]:
dfx.ix[:,'B':'D']

In [29]:
df.ix[:2,'B':]

   B  C  D
0  1  2  3
1  1  2  3
2  1  2  3

In [22]:
df.ix[3,'C'] = 9

In [23]:
df

   A  B  C  D
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  9  3

In [15]:
type(df[['A']])

pandas.core.frame.DataFrame

In [5]:
df.columns.difference(drop_feat)

Index([u'B', u'C'], dtype='object')

In [6]:
df = df[df.columns.difference(drop_feat)]

In [7]:
df

   B  C
0  1  2
1  1  2
2  1  2
3  1  2

## OR

In [8]:
df = pd.DataFrame([range(4),range(4),range(4),range(4)], columns="A B C D".split())

In [9]:
df.drop(drop_feat, axis=1, inplace=True)

In [10]:
df

   B  C
0  1  2
1  1  2
2  1  2
3  1  2