In [1]:
import pandas as pd

In [2]:
import cufflinks as cf

In [3]:
df = cf.datagen.lines(10)

In [6]:
df.shape

(100, 10)

In [5]:
df.tail()

,PSQ.TF,ZBU.JD,JZO.NF,WUW.YB,UCY.FI,IGB.OL,PTJ.ZY,WDK.JI,OBE.FU,KIQ.HX
2015-04-06,-5.022459,-9.693646,3.296176,2.969842,4.380181,10.936428,-3.328013,-8.175345,-5.900732,13.874170
2015-04-07,-5.193709,-10.611698,2.809407,3.261274,3.544820,10.539516,-2.941174,-8.579110,-6.823062,13.091655
2015-04-08,-6.099923,-10.188663,4.111102,3.132431,4.073267,9.631841,-2.632298,-9.261531,-7.815430,11.886790
2015-04-09,-6.450139,-10.424082,3.843470,4.083028,4.745664,8.318174,-2.670475,-9.016204,-6.652902,10.954486
2015-04-10,-6.300003,-10.402215,3.644897,2.932677,4.049154,7.951986,-1.926761,-9.301206,-3.716248,12.764602

In [8]:
df.ix[-1,'KIQ.HX']

12.764601852438959