In [ ]:
import numpy as np
import pandas as pd

import plotly
from plotly import *
from plotly.offline import init_notebook_mode, iplot
import cufflinks as cf

init_notebook_mode()
cf.go_offline()

# %matplotlib inline

In [ ]:
df = pd.read_csv('../../data/character-deaths.csv')

In [ ]:
df.head(3)

In [ ]:
df.Allegiances.value_counts()

In [ ]:
df['Allegiances'] = df.Allegiances.str.replace('House ','')

In [8]:
df.Allegiances.value_counts()

None             253
Night's Watch    116
Stark            108
Lannister        102
Greyjoy           75
Baratheon         64
Wildling          40
Martell           37
Targaryen         36
Tully             30
Arryn             30
Tyrell            26
Name: Allegiances, dtype: int64

In [46]:
deaths = df.groupby(['Allegiances','Death Year'])

In [47]:
deaths

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917 entries, 0 to 916
Data columns (total 13 columns):
Name                  917 non-null object
Allegiances           917 non-null object
Death Year            305 non-null float64
Book of Death         307 non-null float64
Death Chapter         299 non-null float64
Book Intro Chapter    905 non-null float64
Gender                917 non-null int64
Nobility              917 non-null int64
GoT                   917 non-null int64
CoK                   917 non-null int64
SoS                   917 non-null int64
FfC                   917 non-null int64
DwD                   917 non-null int64
dtypes: float64(4), int64(7), object(2)
memory usage: 93.2+ KB

In [49]:
deaths.count().head(3)

                        Name  Book of Death  Death Chapter  \
Allegiances Death Year
Arryn       298.0          2              2              2
            300.0          3              3              2
Baratheon   298.0          1              1              1

                        Book Intro Chapter  Gender  Nobility  GoT  CoK  SoS  \
Allegiances Death Year
Arryn       298.0                        2       2         2    2    2    2
            300.0                        3       3         3    3    3    3
Baratheon   298.0                        1       1         1    1    1    1

                        FfC  DwD
Allegiances Death Year
Arryn       298.0         2    2
            300.0         3    3
Baratheon   298.0         1    1

In [50]:
deaths.sum().head(3)

                        Book of Death  Death Chapter  Book Intro Chapter  \
Allegiances Death Year
Arryn       298.0                 2.0           69.0                59.0
            300.0                10.0          103.0               100.0
Baratheon   298.0                 1.0           47.0                 4.0

                        Gender  Nobility  GoT  CoK  SoS  FfC  DwD
Allegiances Death Year
Arryn       298.0            2         0    2    0    0    0    0
            300.0            2         2    3    0    3    1    0
Baratheon   298.0            1         1    1    0    0    0    0

In [51]:
deaths.count().max(axis=1)

Allegiances    Death Year
Arryn          298.0          2
               300.0          3
Baratheon      298.0          1
               299.0         18
               300.0          5
Greyjoy        299.0         17
               300.0          5
Lannister      298.0          6
               299.0         12
               300.0         12
Martell        300.0          3
Night's Watch  297.0          3
               298.0          2
               299.0         33
               300.0         18
None           298.0          7
               299.0         35
               300.0         34
Stark          298.0         19
               299.0         26
               300.0          1
Targaryen      298.0          5
               299.0          1
               300.0          3
Tully          298.0          1
               299.0          8
Tyrell         300.0          2
Wildling       298.0          3
               299.0          6
               300.0         14
dtype: int64

In [62]:
pdf = deaths.count().max(1).unstack().fillna(0)

In [58]:
pdf = deaths.count()[['Name']].unstack().fillna(0)

In [61]:
pdf.columns.droplevel()

Float64Index([297.0, 298.0, 299.0, 300.0], dtype='float64', name=u'Death Year')

In [55]:
pdf.columns = pdf.columns.droplevel()

In [64]:
pdf

Death Year     297.0  298.0  299.0  300.0
Allegiances
Arryn            0.0    2.0    0.0    3.0
Baratheon        0.0    1.0   18.0    5.0
Greyjoy          0.0    0.0   17.0    5.0
Lannister        0.0    6.0   12.0   12.0
Martell          0.0    0.0    0.0    3.0
Night's Watch    3.0    2.0   33.0   18.0
None             0.0    7.0   35.0   34.0
Stark            0.0   19.0   26.0    1.0
Targaryen        0.0    5.0    1.0    3.0
Tully            0.0    1.0    8.0    0.0
Tyrell           0.0    0.0    0.0    2.0
Wildling         0.0    3.0    6.0   14.0

In [69]:
pdf

Death Year     297.0  298.0  299.0  300.0
Allegiances
Arryn            0.0    2.0    0.0    3.0
Baratheon        0.0    1.0   18.0    5.0
Greyjoy          0.0    0.0   17.0    5.0
Lannister        0.0    6.0   12.0   12.0
Martell          0.0    0.0    0.0    3.0
Night's Watch    3.0    2.0   33.0   18.0
None             0.0    7.0   35.0   34.0
Stark            0.0   19.0   26.0    1.0
Targaryen        0.0    5.0    1.0    3.0
Tully            0.0    1.0    8.0    0.0
Tyrell           0.0    0.0    0.0    2.0
Wildling         0.0    3.0    6.0   14.0

In [70]:
pdf.T

Allegiances,Arryn,Baratheon,Greyjoy,Lannister,Martell,Night's Watch,None,Stark,Targaryen,Tully,Tyrell,Wildling
Death Year,,,,,,,,,,,,
297.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
298.0,2.0,1.0,0.0,6.0,0.0,2.0,7.0,19.0,5.0,1.0,0.0,3.0
299.0,0.0,18.0,17.0,12.0,0.0,33.0,35.0,26.0,1.0,8.0,0.0,6.0
300.0,3.0,5.0,5.0,12.0,3.0,18.0,34.0,1.0,3.0,0.0,2.0,14.0

In [73]:
pdf.iplot(kind='bar', dimensions=(720,600))

In [71]:
pdf.T.iplot(kind='bar', dimensions=(720,600))