In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('nytimes.csv')

In [5]:
df.head(3)

   Age  Gender  Impressions  Clicks  Signed_In
0   36       0            3       0          1
1   73       1            3       0          1
2   30       0            3       0          1

In [8]:
agg_key = 'Age Gender Signed_In'.split()

In [12]:
dfg = df.groupby(agg_key)

In [18]:
dfg.sum()

                      Impressions  Clicks
Age Gender Signed_In
0   0      0               685483   19480
7   0      1                   20       3
    1      1                    6       0
8   0      1                   19       0
    1      1                   75       4
9   0      1                   91       2
    1      1                  174       3
10  0      1                  167       4
    1      1                  377      15
11  0      1                  457      12
    1      1                  985      24
12  0      1                  951      30
    1      1                 1912      62
13  0      1                 1646      48
    1      1                 3644     110
14  0      1                 2655      70
    1      1                 5996     160
15  0      1                 4220     150
    1      1                 8660     242
16  0      1                 5160     167
    1      1                12021     355
17  0      1                 6414     197
    1      1                13589     407
18  0      1                12683     205
    1      1                14318     253
19  0      1                15278     137
    1      1                17371     175
20  0      1                14703     146
    1      1                16792     148
21  0      1                15126     147
...                           ...     ...
90  0      1                  378      13
    1      1                  161       7
91  0      1                  219       4
    1      1                  111       2
92  0      1                  155       2
    1      1                  167       7
93  0      1                  138       7
    1      1                   74       0
94  0      1                  135       4
    1      1                  106       8
95  0      1                  107       3
    1      1                   66       2
96  0      1                   89       1
    1      1                   55       0
97  0      1                   33       1
    1      1                   36       1
98  0      1                   37       2
    1      1                   24       0
99  0      1                   29       1
    1      1                   32       0
100 0      1                    2       0
    1      1                    8       1
101 0      1                    7       0
    1      1                    9       0
102 1      1                    9       0
103 0      1                    4       0
    1      1                    3       0
104 1      1                    6       1
107 1      1                    9       1
108 0      1                    3       0

[197 rows x 2 columns]